

.calc{
    border-radius: 5px;
    max-width: 170px;
    height: 355px;
    background-color: rgb(180, 180, 180);
    padding: 0;
    margin: auto;
    margin-top: 100px;

}
.center{
    text-align:center;
    padding-top: 7px;
    font-size: 20px;
}

.display{
    background-color: black;
    height: 50px;
    width: 150px;
    font-family: "Seven Segment";
    color: white;
    text-align: right;
    font-size: 30px;
    padding: 10px;
}
.area{
    display: inline;
}
.tastiera{
    display: flex;
    flex-wrap: wrap;
    width: 150px; 
}
.pulsante{
    background-color: #ddd;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.inline{
    flex-wrap: wrap;
    display: inline-block;
}
.operatore{
    
    height: 20px;
    width: 20px;
}
.zero{
    inline-size: 52px;
}
.orange{
    background-color: orange;
}